.l-site-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-site-name > * {
  flex-shrink: 0;
}

.site-logo {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
  object-fit: contain;
}

@media (max-width: 800px) {
  .l-site-name {
    display: none;
  }
}
